@import "styles/theme.css";

* {
    font-family: "JetBrains Mono Nerd Font";
    color: @text;
}

window#waybar {
    background-color: shade(@base, 0.75);
    border: 2px solid alpha(@crust, 0.3);
}

@import "styles/workspaces.css";
@import "styles/info.css";
