@import "styles/theme.css";

* {
    font-family: "JetBrains Mono Nerd Font";
    color: @text;
}

window#waybar {
    background-color: alpha(@base, 0.75);
}

@import "styles/workspaces.css";
@import "styles/info.css";
