dotfiles/vscode/.config/Code/*
!dotfiles/vscode/.config/Code/User/
dotfiles/vscode/.config/Code/User/globalStorage
dotfiles/vscode/.config/Code/User/History
dotfiles/vscode/.config/Code/User/workspaceStorage
dotfiles/vscode/.config/Code/User/snippets
!dotfiles/vscode/.config/Code/User/settings.json
