#clock {
    background-color: shade(@surface0, 0.75);
    border-radius: 20px;
    margin: 5px;
    padding: 10px 0px;
}

window#waybar#battery.warning {
    background-color: shade(@yellow, 1);
}

window#waybar#battery.critical {
    background-color: shade(@red, 1);
}