configuration {
modes: "drun,filebrowser";
font: "JetBrains Mono Nerd Font 12";
show-icons: true;
drun-display-format: "{name}";
steal-focus: true;
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@import "./theme.rasi"
@import "./default.rasi"
