* {
    lightfg: @text;
    lightbg: @base;
    background: @base;
    foreground: @text;
}

window {
    padding: 10;
    border-radius: 10;
    background-color: @base;
    border-color: @pink;
    border: 3;
}
